<?php

/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * NOTE: This file is ignored from Git by default with the .gitignore included
 * in laminas-mvc-skeleton. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

declare(strict_types=1);

use Doctrine\DBAL\Driver as PDOMySqlDriver;

return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => \Doctrine\DBAL\Driver\PDOMySql\Driver::class,
                'params' => [
                    'host' => '<mysql_host>',
                    'port' => '<mysql_port>', //default is "3306"
                    'user' => '<mysql_user>',
                    'password' => '<mysql_password>',
                    'dbname' => '<mysql_dbname>',
                    'charset' => 'utf8',
                ],
            ],
        ],
    ],
];
